* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.hero2 {
    display: none;
}
.hero {
    width: 100%;
    height: 100vh;
    position: relative;
}
.hero-part1 {
    padding: 127px 40px 80px;
    /* position: relative; */
    top: 0;
}
.hero-pattern {
    width: 140px;
    position: absolute;
    right: 0;
    bottom: 20px;
    /* top: 30px; */
    z-index: 25;
}
.hero-game {
    position: absolute;
    right: 10px;
    bottom: 25px;
    width: 300px;
    z-index: 30;
}
.hero-start {
    position: absolute;
    right: 115px;
    bottom: 150px;
    z-index: 30;
}
.start {
    position: absolute;
    text-decoration: none;
    color: #ff8500;
    font-weight: bold;
    font-size: 30px;
    bottom: 230px;
    right: 340px;
}
.hero-part1 h1 {
    font-size: 33px;
    padding-bottom: 20px;
    color: #ff8500;
    font-weight: bolder;
}
.hero-part1 p {
    width: 540px;
    line-height: 1.7;
    font-size: 20px;
    font-weight: 400;
    font-family: "Inter Tight", sans-serif;
}
.hero-part1 p span {
    font-weight: bold;
}
.hero-part2 {
    padding: 100px 40px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* height: 173px; */
    /* background-image: url(./../../../public/fotter.svg); */
}
.hero-part2 .imgFooter {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
}
.hero-part2 .socials {
    display: flex;
    z-index: 20;
}
.social1 , .social2 , .social3 , .social4 , .social5 {
    width: 30px;
    height: 30px;
    background-color: #fff;
    margin-right: 8px;
    padding: 7px 0 0 7px;
    border-radius: 50%;
}
.social1 a , .social2 a , .social3 a , .social4 a , .social5 a {
    color: #ff8500;
    cursor: pointer;
    /* text-align: center; */
}
.copyright {
    z-index: 20;
}
.copyright p {
    color: #fff;
}
.copyright p .copy {
    font-size: 14px;
}
@media (min-width:991px) and (max-width:1326px) {
    .hero {
        height: 100vh;
    }
    .hero-part1 {
        padding: 80px 40px 40px;
    }
    .hero-game {
        width: 200px;
        right: 10px;
        bottom: 35px;
    }
    .hero-start {
        width: 200px;
        right: 90px;
        bottom: 120px;
    }
    .start {
        bottom: 170px;
        right: 240px;
    }
}
@media (min-width:850px) and (max-width:990px) {
    .hero {
        height: 100vh;
    }
    .hero-part1 {
        padding: 80px 40px 0px;
    }
    .hero-part1 {
        padding: 120px 40px 0;
    }
    .hero-game {
        width: 200px;
        right: 10px;
        bottom: 35px;
    }
    .hero-start {
        width: 200px;
        right: 90px;
        bottom: 120px;
    }
    .start {
        bottom: 170px;
        right: 240px;
    }
    .hero-pattern {
        width: 130px;
        top: 60px;
    }
    .hero-part1 p {
        width: 500px;
    }
    .logo {
        width: 50%;
    }
}
@media (min-width:700px) and (max-width:849px) {
    .hero {
        height: 100vh;
    }
    .hero-part1 {
        padding: 50px 40px 70px;
    }
    .hero-part2 {
        /* height: 100px; */
        padding: 70px 40px 0;
        flex-direction: column;
        justify-content: start;
        align-items: start;
    }
    .hero-part1 p {
        width: 500px;
    }
    .hero-game {
        width: 140px;
        right: 10px;
        bottom: 40px;
    }
    .hero-start {
        width: 200px;
        right: 65px;
        bottom: 100px;
    }
    .start {
        bottom: 150px;
        right: 215px;
    }
    .hero-pattern {
        width: 100px;
        /* top: 130px; */
    }
    .hero-part2 .socials {
        padding-bottom: 5px;
    }
}
@media (min-width:450px) and (max-width:699px) {
    .hero {
        height: 100vh;
    }
    .hero-part1 {
        padding: 20px 40px 0px;
    }
    .hero-part2 {
        /* height: 100px; */
        padding: 288px 40px 0;
        /* flex-direction: column; */
        justify-content: start;
        align-items: start;
        gap: 10px;
    }
    .hero-part1 p {
        font-size: 16px;
        width: 400px;
        line-height: 1.5;
    }
    .hero-part1 h1 {
        font-size: 18px;
        padding-bottom: 10px;
    }
    /* .copyright p {
        width: 200px;
    } */
    .social1, .social2, .social3, .social4, .social5 {
        width: 23px;
        height: 23px;
        padding: 5px 0 0 5px;
    }
    .hero-game {
        width: 130px;
        right: 10px;
        bottom: 25px;
    }
    .hero-start {
        width: 150px;
        right: 60px;
        bottom: 85px;
    }
    .start {
        bottom: 115px;
        right: 170px;
        font-size: 25px;
    }
    .hero-pattern {
        width: 70px;
        /* top: 250px; */
    }
    .hero-part2 .socials {
        padding-bottom: 5px;
    }
}
@media (min-width:320px) and (max-width:449px) {
    .hero {
        height: calc(100vh - 41px);
    }
    .hero-part1 {
        padding: 20px 20px 0px;
    }
    .hero-part2 {
        /* height: 100px; */
        /* padding: 30px 20px 0; */
        /* flex-direction: column; */
        padding-top: 0;
        padding-left: 20px;
        padding-right: 20px;
        justify-content: start;
        align-items: start;
    }
    .hero-part1 p {
        font-size: 16px;
        width: 270px;
        line-height: 1.5;
    }
    .hero-part1 h1 {
        font-size: 24px;
        padding-bottom: 10px;
    }
    .copyright {
        padding-top: 200px;
    }
    .copyright p {
        width: 300px;
        font-size: 12px;
    }
    .social1, .social2, .social3, .social4, .social5 {
        width: 23px;
        height: 23px;
        padding: 5px 0 0 5px;
    }
    .hero-game {
        width: 95px;
        right: 10px;
        bottom: 15px;
    }
    .hero-start {
        width: 140px;
        right: 50px;
        bottom: 58px;
    }
    .start {
        bottom: 90px;
        right: 153px;
        font-size: 25px;
    }
    .hero-pattern {
        width: 60px;
        /* top: 300px; */
    }
    .hero-part2 .socials {
        position: absolute;
    bottom: 50px;
    left: 20px;
    display: block;
        }
        .social1, .social2, .social3, .social4, .social5 {
            background-color: #ff8500;
            width: 25px;
            height: 25px;
            margin-bottom: 4px;
        }
        .social1 a, .social2 a, .social3 a, .social4 a, .social5 a { 
            color: white;
        }
}